
header {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: space-between;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}


.taskBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.typewriter {

  font-size: 25px;
  margin: 0 auto 20px;
display: flex;
align-items: center;
 justify-content: center;
 gap: 10px;
}

.taskIcon{
    font-size: 35px;

}
.taskInput {
  padding: 30px;
  width: 40%;
  border-radius: 2%;
  border: none;
  border-bottom: 1px solid #cccccc8a;
  font-size: 20px;
  transition: border-color 0.3s;
  box-shadow: var(--boxShadow)
}

.taskInput:focus {
  outline: none;
  border: none;
  border-bottom: solid 3px #6c63ff;
 
}

.addBtn {
  padding: 28px;
  border: 0;
  border-radius: 4%;
  background-color: #6c63ff;
  font-size: 25px;
  font-weight: 600;
  box-shadow:var(--boxShadow);
}

.addBtn:hover {
  cursor: pointer;
  background-color: #6b63ffa3;
  padding-right: 2px;
}
body.dark .add-btn {
  color: #fff;
}
